#[cpu]
#name = "Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz"
#curve = [171.2,0.0354,36.89,-10.13]
[cpu]
name = "Apple M4 Pro"
curve = [30.508760345993128,0.0730308567638932,20.451103066868207,-5.08379885619235]


#"event-statistics-java21" "fights-kafka" "rest-narration-java21" "apicurio", "apicurio", "ui-super-heroes"
[[process]]
name = "fights-spacetime"
up = "docker compose up --force-recreate"
down = "docker compose down"
redirect.to = "file"
process.type = "docker"
process.containers = ["spacetimedb-client", "spacetimedb"]
startup_grace = "30s"

[[scenario]]
name = "k6-spacetime-high"
desc = "High test for 60s"
command = "k6 run high.js"
iterations = 3
processes = ["fights-spacetime"]

[[scenario]]
name = "k6-spacetime-curl"
desc = "Curl test"
command = "curl -v -X POST http://127.0.0.1:8082/random_fight"
iterations = 3
processes = ["fights-spacetime"]

[[scenario]]
name = "k6-spacetime-low"
desc = "Low load test."
command = "k6 run -v low.js"
iterations = 3
processes = ["fights-spacetime"]

[[scenario]]
name = "k6-spacetime-none"
desc = "No load test."
command = "k6 run none.js"
iterations = 3
processes = ["fights-spacetime"]

[[scenario]]
name = "k6-spacetime-max"
desc = "No load test."
command = "k6 run max.js"
iterations = 3
processes = ["fights-spacetime"]

[[scenario]]
name = "k6-spacetime-xtreme"
desc = "No load test."
command = "k6 run xtreme.js"
iterations = 3
processes = ["fights-spacetime"]

[[observation]]
name = "spacetime"
scenarios = ["k6-spacetime-curl", "k6-spacetime-low"]

[[observation]]
name = "spacetime-max"
scenarios = ["k6-spacetime-max"]

[[observation]]
name = "spacetime-xtreme"
scenarios = ["k6-spacetime-xtreme"]
