#[cpu]
#name = "Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz"
#curve = [171.2,0.0354,36.89,-10.13]
[cpu]
name = "Apple M4 Pro"
curve = [30.508760345993128,0.0730308567638932,20.451103066868207,-5.08379885619235]


#"event-statistics-java21" "fights-kafka" "rest-narration-java21" "apicurio", "apicurio", "ui-super-heroes"
[[process]]
name = "fights-spacetime"
up = "docker compose up --force-recreate"
down = "docker compose down"
redirect.to = "parent"
process.type = "docker"
process.containers = ["spacetimedb-client", "spacetimedb"]
startup_grace = "50s"

[[scenario]]
name = "high"
desc = "High test for 60s"
command = "k6 run high.js"
iterations = 3
processes = ["fights-spacetime"]

[[scenario]]
name = "low"
desc = "Low load test."
command = "./wait.sh"
iterations = 3
processes = ["fights-spacetime"]

[[scenario]]
name = "none"
desc = "No load test."
command = "k6 run none.js"
iterations = 3
processes = ["fights-spacetime"]

[[scenario]]
name = "max"
desc = "No load test."
command = "k6 run max.js"
iterations = 3
processes = ["fights-spacetime"]

[[scenario]]
name = "xtreme"
desc = "No load test."
command = "k6 run xtreme.js"
iterations = 3
processes = ["fights-spacetime"]

[[observation]]
name = "none"
scenarios = ["none"]

[[observation]]
name = "low"
scenarios = ["low"]

[[observation]]
name = "max"
scenarios = ["max"]

[[observation]]
name = "xtreme"
scenarios = ["xtreme"]
