services:
  spacetimedb-importer:
    container_name: spacetime-importer
    build: 
      dockerfile: Dockerfile
      target: superhero-importer
      context: .
    ports:
      - "8080:3000"
    environment:
      HEROES_DB_URL: "postgres://superman:superman@heroes-db:5432/heroes_database"
      VILLAINS_DB_URL: "postgres://superman:superman@villains-db:5432/villains_database"
      LOCATIONS_DB_URL: "mysql://locations:locations@locations-db/locations_database"
      SPACETIME_DB: "superhero-server"
      SPACETIME_DB_URL: "http://spacetimedb:3000"
    depends_on:
      spacetimedb:
        condition: service_healthy
  spacetime-modules:
    container_name: spacetime-modules
    build: spacetime-modules
    command: sh -c "echo 'ABOUT TO DEPLOY' && ./spacetimedb-cli publish --anonymous -s 'http://spacetimedb:3000' --project-path superhero-server -y superhero-server"
    depends_on:
      spacetimedb:
        condition: service_healthy

  spacetimedb-client:
    container_name: spacetimedb-client
    build: 
      dockerfile: Dockerfile
      target: superhero-client
      context: .
    ports:
      - "9082:9082"
    depends_on:
      spacetimedb:
        condition: service_healthy
    environment:
      SPACETIME_DB: "superhero-server"
      SPACETIME_DB_URL: "http://spacetimedb:3000"
    # command: sleep 5 && /spacetimedb-client
  spacetimedb:
    image: clockworklabs/spacetime
    container_name: spacetimedb
    command: start
    ports:
      - "3000:3000"
    volumes:
      - ${PWD}/spacetime-modules:/modules
    healthcheck: 
      test: "curl -f http://spacetimedb:3000/v1/ping"
      interval: 2s
      timeout: 1m
      retries: 20

      heroes-db:
    image: postgres:16
    container_name: heroes-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: superman
      POSTGRES_PASSWORD: superman
      POSTGRES_DB: heroes_database
    volumes:
      - ${PWD}/database/heroes-db/init/heroes.sql:/docker-entrypoint-initdb.d/init.sql:ro

      villains-db:
    image: postgres:16
    container_name: villains-db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: superman
      POSTGRES_PASSWORD: superman
      POSTGRES_DB: villains_database
    volumes:
      - ${PWD}/database/villains-db/init/villains.sql:/docker-entrypoint-initdb.d/init.sql:ro
  locations-db:
    image: mariadb:11.5
    container_name: locations-db
    ports:
      - "3306:3306"
    environment:
      MARIADB_USER: locations
      MARIADB_PASSWORD: locations
      MARIADB_DATABASE: locations_database
      MARIADB_ROOT_PASSWORD: locations
      MARIADB_SKIP_TEST_DB: yes
    volumes:
      - ${PWD}/database/locations-db/init/initialize-tables.sql:/docker-entrypoint-initdb.d/1-init-tables.sql:ro
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
      